<div class="container">
    <div class="mt-5">
        <h1>Password Successfully Changed</h1>
        <p>Your password has been changed successfully.</p>
        <a href="/" class="btn btn-primary">Go to Back</a>
    </div>
</div>