<main>
    <div class="container">
        <h1 class="title text-center py-3">Examination System</h1>
        <div class="question mb-5">
            <h4 class="question-title">
                1. What is the difference between static, public, and void?
            </h4>
            <div class="answers">
                <label class="d-block mb-1">
                    <input type="radio">
                    <span>
                        An object is a class instance that can be used to access class methods. The "New" keyword
                        can
                        be used to construct an object.
                    </span>
                </label>
                <label class="d-block mb-1">
                    <input type="radio">
                    <span>A constructor is a member function with the same name as its class.</span>
                </label>
                <label class="d-block mb-1">
                    <input type="radio">
                    <span>The Array which comprises elements of type array is called Jagged Array.</span>
                </label>
                <label class="d-block mb-1">
                    <input type="radio">
                    <span>No. This is because only static variables/methods can be used in a static method.</span>
                </label>
            </div>
        </div>
        <div class="question mb-5">
            <h4 class="question-title">
                2. What is the difference between static, public, and void?
            </h4>
            <div class="answers">
                <label class="d-block mb-1">
                    <input type="radio">
                    <span>
                        An object is a class instance that can be used to access class methods. The "New" keyword
                        can
                        be used to construct an object.
                    </span>
                </label>
                <label class="d-block mb-1">
                    <input type="radio">
                    <span>A constructor is a member function with the same name as its class.</span>
                </label>
                <label class="d-block mb-1">
                    <input type="radio">
                    <span>The Array which comprises elements of type array is called Jagged Array.</span>
                </label>
                <label class="d-block mb-1">
                    <input type="radio">
                    <span>No. This is because only static variables/methods can be used in a static method.</span>
                </label>
            </div>
        </div>
        <div class="question mb-5">
            <h4 class="question-title">
                3. What is the difference between static, public, and void?
            </h4>
            <div class="answers">
                <label class="d-block mb-1">
                    <input type="radio">
                    <span>
                        An object is a class instance that can be used to access class methods. The "New" keyword
                        can
                        be used to construct an object.
                    </span>
                </label>
                <label class="d-block mb-1">
                    <input type="radio">
                    <span>A constructor is a member function with the same name as its class.</span>
                </label>
                <label class="d-block mb-1">
                    <input type="radio">
                    <span>The Array which comprises elements of type array is called Jagged Array.</span>
                </label>
                <label class="d-block mb-1">
                    <input type="radio">
                    <span>No. This is because only static variables/methods can be used in a static method.</span>
                </label>
            </div>
        </div>
    </div>

</main>